services:
  web:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    environment: 
      - ENV=development
    env_file: .env
    depends_on:
      - db
    restart: always
    networks:
      - my_network
  
  db:
    image: postgres:latest
    volumes:
      - postgres_data:/var/lib/postgresql
    networks:
      - my_network
    restart: always
    env_file:
      - .env
    

volumes:
  postgres_data:

networks:
  my_network:
    driver: bridge


  